<section id="about" class="content-section text-center">
	 <style> 
div.me {
  	width: 65%;
	padding: 25px 25px 25px 25px;
	float: center;
	text-shadow: 0.2px 0.2px 1px;
  text-align: left;
  border: 0.8px groove;
  margin: 0 auto;
  background-image: url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
}
</style> 		 
                <div class="me">
                    <h2>About me</h2>
			<div style="font-family: Mukta; font-size: 17px; font-weight: 450;">
25-years-old, since teen-age I've been playing around math, logic, curiosity and love for life with great enthusiasm. <br/> After living in Italy, UK, Spain and traveling for long periods across Turkey, Tunisia, Syria, India, Morocco (and more), I settled down in the Netherlands, the perfect place where to grow and realize the ideas and purposes that came on the way. 
<br>
<br>I have a strong mathematical background, passion for coding and innate problem-solving attitude. <br>I’m enthusiastic about making the most out of the knowledge I've absorbed and about starting my career in a challenging environment that reflects my interests and goals. I believe data science to be a powerful tool and I'm willing to use it to create something with a meaningful, ethical and sustainable impact.
			<br>
				<br>I love to always develop myself in new ways. Self-learning how to code this website was part of it.

                   </div>
                </div>
     
         </section>
