
    <section id="about" class="content-section text-center">
        <div class="gallery-section">
	 <style> 
div.me {
  width: 65%;
	padding: 15px 15px 15px 15px;
	float: center;
  text-align: center;
  border: 1px solid white;
  background-image: url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
}
</style> 		 
                <div class="me">
                    <h2>About me</h2>
25-years-old, since teen-age I've been...
			I’m enthusiast to start my career in a challenging, fast-paced environment that reflects my interests and goals.
Strong mathematical background, passion for coding and innate problem-solving attitude.
			Self-learning how to code this website was part of it.

                   
                </div>
	</div>
     
         </section>
