
    <section id="about" class="content-section text-center">
        <div class="gallery-section">

 <div class="container">
	 <style> 
div.me {
  width: 75%;
  text-align: center;
  margin-left: 30px;
     margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid white;
  background-image: url("http://www.f-covers.com/cover/black-shapes-pattern-facebook-cover-timeline-banner-for-fb.jpg");
}
</style> 		 
                <div class="me">
                    <h2>About me</h2>
25-years-old, since teen-age I've been...
			I’m enthusiast to start my career in a challenging, fast-paced environment that reflects my interests and goals.
Strong mathematical background, passion for coding and innate problem-solving attitude.
			Self-learning how to code this website was part of it.

                   
                </div>
            </div>

	</div>
     
         </section>
