    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Data Science - Machine Learning - Statistics portfolio</h2>
                    What we can do nowadays is beyond any previous expectation
                

                   
                </div>
            </div>

        </div>
<h2 class="col-lg-8 col-lg-offset-2"> Projects </h2>
        
 <head>
<style> 
div.container1 {
width: 45%;
float:left;
border: 1px solid white;
}

div.container {
width: 45%;
float:right;
border: 1px solid white;
}


</style>
</head>
<body>
<div class="col-lg-8 col-lg-offset-2" class='card-buttons'>
<a href="https://drive.google.com/file/d/1sbcjbPFX8HLIGBosnztp05XA7lDKWVVw/view?usp=sharing" target="_blank" class="btn btn-primary">Report</a>
 </div>
<div class="container1">
<h3 >Audio Segmentation</h3>
      <a href="https://drive.google.com/file/d/1sbcjbPFX8HLIGBosnztp05XA7lDKWVVw/view?usp=sharing" target="_blank" class="btn btn-primary">Report</a>

<div style="clear:both;"></div>
</div>

<div class="container">
<h3 >My Personality</h3>
<div style="clear:both;"></div>
</div>

</body>   
    

       
    </section>
