    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Data Science - Machine Learning - Statistics portfolio</h2>
                    What we can do nowadays is beyond any previous expectation
                
                </p> Eager to unlock the powerful information behind data</p>
                   
                </div>
            </div>
        </div>
    </section>
