    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Social</h2>
                    social:
  - title: facebook
    url: https://www.facebook.com/agnese.giacomello
  - title: stack-overflow
    url: https://stackoverflow.com/users/10363916/agnese-giacomello
  - title: github
    url: https://github.com/AgneseG
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>
