
    <section id="gallery" class="content-section text-center">
        <div class="gallery-section">


<div class="card-deck">


      <div class='card-buttons'>

        <a href="https://github.com/AgneseG/agnese-giacomello.com/blob/master/Portofolio/AgneseGiacomello_Research_Report.pdf" target="_blank" class="btn btn-primary">Report</a>

      </div>

  		<div class="card-footer">

      		<small class="text-muted">Python, Scikit-learn, Decision Trees, SVM, Adaboost</small>

    	</div>

	</div>


	</div>

</div>
     
         </section>
