
    <section id="gallery" class="content-section text-center">
        <div class="gallery-section">


<div class="card-deck">

	<div class="card">

  		<img class="card-img-top" src="/img/gratisography-black-white-trees-winter.jpg" alt="Finding donors">

  		<div class="card-block">

    		<h4 class="card-title">Finding Donors for Charity using Machine Learning</h4>

    		<p class="card-text">An Adaboost classifier to accurately predict whether an individual makes more than $50,000, and identify likely donors for a non-profit organisation.</p>

  		</div>

      <div class='card-buttons'>

        <a href="/Portfolio/AgneseGiacomello_Research_Report" target="_blank" class="btn btn-primary">Report</a>

      </div>

  		<div class="card-footer">

      		<small class="text-muted">Python, Scikit-learn, Decision Trees, SVM, Adaboost</small>

    	</div>

	</div>


	</div>

</div>
     
         </section>
